<fieldset ng-controller="LocacaoController as l">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="m-t-none m-b title-op">Informações do Cliente</h4>
                            <div class="col-lg-6">
                                <label class="control-label">Nome</label> <br />{{formData.nome_cliente}}
                            </div>
                            <div class="col-lg-3">
                                <label class="control-label">E-Mail</label> <br />{{formData.email_cliente}}
                            </div>
                            <div class="col-lg-3">
                                <label class="control-label">Telefone</label> <br />{{formData.telefone_cliente}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="hr-line-dashed" />
                        <div class="col-lg-12">
                            <h4 class="m-t-none m-b title-op">Informações do Imóvel</h4>
                            <div class="col-lg-3">
                                <label class="control-label">Endereço</label> <br />{{formData.endereco}}
                            </div>
                            <div class="col-lg-3">
                                <label class="control-label">Proprietário</label> <br />{{formData.nome_proprietario}}
                            </div>
                            <div class="col-lg-2">
                                <label class="control-label">E-Mail do Proprietário</label> <br />{{formData.email_proprietario}}
                            </div>
                            <div class="col-lg-2">
                                <label class="control-label">Telefone Proprietário</label> <br />{{formData.telefone_proprietario}}
                            </div>
                            <div class="col-lg-2">
                                <label class="control-label">Dia Repasse</label> <br />{{formData.dia_repasse}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="hr-line-dashed"/>
                        <div class="col-lg-12">
                            <h4 class="m-t-none m-b title-op">Mensalidades</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">Vencimento</th>
                                        <th class="text-right">Taxa Administração</th>
                                        <th class="text-right">Valor Aluguel</th>
                                        <th class="text-right">Valor Condomínio</th>
                                        <th class="text-right">Valor IPTU</th>
                                        <th class="text-right">Valor Total</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in mensalidades">
                                        <td style="padding: 3px;" class="text-center">{{x.vencimento}}</td>
                                        <td style="padding: 3px;" class="text-right">{{x.taxa_administracao | currency:'R$'}}</td>
                                        <td style="padding: 3px;" class="text-right">{{x.valor_aluguel | currency:'R$'}}</td>
                                        <td style="padding: 3px;" class="text-right">{{x.valor_condominio | currency:'R$'}}</td>
                                        <td style="padding: 3px;" class="text-right">{{x.valor_iptu | currency:'R$'}}</td>
                                        <td style="padding: 3px;" class="text-right">{{x.total_mes | currency:'R$'}}</td>
                                    </tr>
                                    
                                </tbody>
                                <tfoot>
                                    <tr class="text-right">
                                        <td colspan="5"><strong>Valor Total da Locação</strong></td>
                                        <td><strong>{{total_contrato | currency:'R$'}}</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 nomobile pull-right">
                            <button ng-click="finalizaLocacao()" type="button" id="btn_finalizarlocacao" title="Finalizar Locação"
                                class="btn btn-w-m  btn-primary clearfix-btn-s btn-icon">
                                <i class="fa fa-check" />Finalizar Locação
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</fieldset>