<fieldset>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox nomargin-b-overrrule">
                <div class="ibox-content">
                    <div class="row p-tp-15">
                        <div class="col-lg-9">
                            <h4 class="m-t-none m-b title-op">Digite o CPF/CNPJ ou o Nome do Cliente</h4>
                            <div class="col-lg-4">
                                <div class="form-group p-rt-15 p-lt-15">
                                    <label class="control-label" for="input_cpfcnpj">CPF/CNPJ</label>
                                    <input id="input_cpfcnpj" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="form-group p-rt-15 p-lt-15">
                                    <label class="control-label" for="input_nome">Nome</label>
                                    <input id="input_nome" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="hr-line-dashed"></div>
                        <div class="col-lg-12">
                            <h4 class="m-t-none m-b title-op">Confirme as Informações do Cliente</h4>
                            <div class="col-lg-4">
                                <div class="form-group p-rt-15 p-lt-15">
                                    <!-- Caso o cliente não tenha email, colocar uma notificação de ciencia e não mostrar a opção saída imediata. -->
                                    <label class="control-label" for="input_email">Email</label>
                                    <input id="input_email" type="text" class="form-control" />
                                    <small class="text-primary">
                                        <strong>Importante:</strong>
                                        Em situação de contingência
                                        é necessário o email do cliente para que seja feito o envio da Nota Fiscal, por
                                        questões jurídicas. <br><strong>Não preencher o email bloqueará a opção "Saída
                                            Loja Imediata"</strong>.
                                    </small>
                                </div>
                            </div>
                            <div class="col-lg-3 m-tp-30 checkbox checkbox-primary">
                                <input id="check_confirmaemail" type="checkbox">
                                <label for="check_confirmaemail">
                                    Afirmo que o email informado é do cliente.
                                </label>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group p-rt-15 p-lt-15">
                                    <label class="control-label" for="input_telefone">Telefone Padrão</label>
                                    <input id="input_telefone" type="text" data-mask="(99) 99999-9999"
                                        class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-3 nomobile">
                                <button type="button" id="btn_editarcadastro" title="Editar Cadastro"
                                    ui-sref="cliente.cadastrocliente.simplificado"
                                    class="btn btn-w-m m-tp-25 btn-primary clearfix-btn-s btn-icon">
                                    <i class="fa fa-pencil"></i> Editar Cadastro
                                </button>
                            </div>
                            <div class="col-lg-1 onlymobile">
                                <button type="button" id="btn_editarcadastro" title="Editar Cadastro"
                                    ui-sref="cliente.cadastrocliente.simplificado"
                                    class="btn btn-w-m btn-m-s-mobile btn-primary clearfix-btn-s btn-icon full-width">
                                    <i class="fa fa-pencil"></i> Editar Cadastro
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hr-line-dashed"></div>
                            <h4 class="m-t-none m-b title-op">Confirme as Informações de Entrega</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-2">
                                <div class="form-group p-rt-15 p-lt-15">
                                    <label class="control-label" for="input_cep">CEP</label>
                                    <input id="input_cep" type="text" data-mask="99999-999" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-group p-rt-15 p-lt-15">
                                    <label class="control-label" for="input_endereco">Endereço</label>
                                    <input id="input_endereco" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group p-rt-15 p-lt-15">
                                    <label class="control-label" for="input_numero">Número</label>
                                    <input id="input_numero" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group p-rt-15 p-lt-15">
                                    <label class="control-label" for="input_complemento">Complemento</label><label
                                        class="optional-field p-rt-10">OPCIONAL</label>
                                    <input id="input_complemento" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3">
                                <div class="form-group p-rt-15 p-lt-15">
                                    <label class="control-label" for="select_bairro">Bairro</label>
                                    <div>
                                        <select chosen id="select_bairro" class="chosen-select" ng-model=""
                                            ng-options="">
                                            <option value="">Bairro</option>
                                            <!-- Trazer Combo (rota) -->
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group p-rt-15 p-lt-15">
                                    <label class="control-label" for="select_cidade">Cidade</label>
                                    <div>
                                        <select chosen id="select_cidade" class="chosen-select" ng-model=""
                                            ng-options="">
                                            <option value="">Cidade</option>
                                            <!-- Trazer Combo (cidade) -->
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group p-rt-15 p-lt-15">
                                    <label class="control-label" for="select_estado">Estado</label>
                                    <select chosen id="select_estado" class="chosen-select" ng-model=""
                                        ng-options="">
                                        <option value="">Estado</option>
                                        <!-- Trazer Combo (cidade) -->
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group p-rt-15 p-lt-15">
                                    <label class="control-label" for="select_rotabairro">Rota/Bairro</label>
                                    <div>
                                        <select chosen id="select_rotabairro" class="chosen-select" ng-model=""
                                            ng-options="">
                                            <option value="">Rota/Bairro</option>
                                            <!-- Trazer Combo (rota) -->
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 nomobile pull-right">
                            <button ui-sref="locacao.novalocacao.produtos" title="Próxima Etapa" type="button"
                                id="btn_prosseguir" class="btn btn-w-m btn-m-s-min btn-primary clearfix-btn-s btn-icon">
                                <i class="fa fa-caret-right"></i> Prosseguir
                            </button>
                        </div>
                        <div class="col-lg-4 onlymobile">
                            <button ui-sref="locacao.novalocacao.produtos" title="Próxima Etapa" type="button"
                                id="btn_prosseguir"
                                class="btn btn-w-m btn-m-s-mobile btn-primary clearfix-btn-s btn-icon full-width">
                                <i class="fa fa-caret-right"></i> Prosseguir
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</fieldset>

<script>
</script>