<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Consultar Locação</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a>Locação</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Consultar Locação</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- {/* Filtros para a consulta de atendimentos. -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-2 b-r">
                            <h4 class="m-t-none m-b title-op">Cliente</h4> <label
                                class="optional-field p-rt-10">OPCIONAL</label>
                            <!-- Buscar pelo CPF do Cliente. -->
                            <div class="form-group p-rt-15 p-lt-15">
                                <label class="control-label" for="input_acao_cpfcnpj">Nome</label>
                                <input id="input_cpfcnpj" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-lg-4 b-r">
                            <h4 class="m-t-none m-b title-op">Período</h4>
                            <!-- Buscar todos os atendimentos em um período. -->
                            <div class="col-lg-6">
                                <div class="form-group" id="datainicial">
                                    <label class="control-label" for="datainicial">Data Inicial</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar" />
                                        </span>
                                        <input type="text" id="datainicial" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group" id="datafinal">
                                    <label class="control-label" for="datafinal">Data Final</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar" />
                                        </span>
                                        <input type="text" id="datafinal" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <h4 class="m-t-none m-b title-op">Situação</h4>
                            <!-- {/* Filtrar o tipo - Pendente/Fechado -->
                            <div class="form-group p-rt-15 p-lt-15">
                                <label class="control-label" for="select_situacaopedido">Situação</label>
                                <select class="select2 form-control" id="select_situacaopedido">
                                    <option value="t">Todos</option>
                                    <option value="r">Pendente</option>
                                    <option value="p">Fechado</option>
                                </select>


                            </div>
                        </div>
                        <div class="col-lg-2 nomobile">
                            <button type="button" id="btn_consultaratendimentos" title="Consultar Atendimentos"
                                class="btn btn-w-m btn-m-s btn-primary clearfix-btn-s btn-icon">
                                <i class="fa fa-spinner" />Consultar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  {/* Retorno para a consulta de atendimentos. -->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Cliente</th>
                                        <th>Imovel</th>
                                        <th>Proprietário</th>
                                        <th class="text-right">Valor do Contrato(R$)</th>
                                        <th class="text-center">Situação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Jose da Silva</td>
                                        <td>Rua Antonio Saad, 2510</td>
                                        <td>Rodobens </td>
                                        <td class="text-right">5.200,00</td>
                                        <td class="text-center"><span class="label label-success">Quitado</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>