
<br><div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name"><img src="img/vista-logo.png"></img></h1>
        </div>
        <br />
        <h3>Bem-vindo ao Sistema para Imobiliárias</h3>

        <form class="m-t" role="form" action="">
            <br><br>
            <a class="btn btn-primary block full-width m-b" ui-sref='locacao.novalocacao.cliente' id="btn_login">Acessar o Sistema</a>
            <br><br>
        </form>

        <footer class="m-tp-20">
            <div class="nomobile">
                Feito com <strong class="text-mmred">&hearts;</strong> por <strong
                    class="text-mmred"> Vista </strong> Software.
            </div>
        </footer>
    </div>
</div>