<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name"><img src="img/wcazul.png"></img></h1>
        </div>
        <br />
        <h3>Bem-vindo ao Imob.</h3>
        <p>Construído para você.
        </p>
        <p>Para fazer login, utilize o seu CPF e sua Senha.</p>

        <form class="m-t" role="form" action="">
            <div class="form-group">
                <!-- Input de CPF do usuário -->
                <input type="login" id="input_login_cpf" class="form-control" placeholder="CPF" required="" />
            </div>
            <div class="form-group">
                <!-- Input de senha do usuário - Validação com a senha da Intranet -->
                <input type="password" id="input_login_password" class="form-control" placeholder="Senha da Intranet"
                    required="" />
            </div>
            <br />
            <!-- Button de ação para o Login -->
            <a class="btn btn-primary block full-width m-b" ui-sref='index.main' id="btn_login">Login</a>
        </form>
        <footer class="m-tp-20">
            <div class="nomobile">
                <strong>Sistemas Web</strong> - Feito com <strong class="text-mmred">&hearts;</strong> pelo <strong
                    class="text-mmred">Vista</strong>Software.
            </div>
        </footer>
    </div>
</div>