<div class="footer">
    <div class="pull-right nomobile">
        Lojas <strong class="text-mmred">MM</strong> &copy; 2016-2019
    </div>
    <div class="nomobile">
        <strong>Sistemas Web</strong> - Feito com <strong class="text-mmred">&hearts;</strong> pelo <strong
            class="text-mmred">MM</strong>Labs.
    </div>
    <div class="onlymobile">
        <center><strong>Sistemas Web</strong> - Feito com <strong class="text-mmred">&hearts;</strong> pelo <strong
                class="text-mmred">MM</strong>Labs.</center>
    </div>
</div>