<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" side-navigation id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element">
                    <img src="img/wvlogo.png" height="45px" alt="Logo Sitema"></img>
                    <span>
                    </span>

                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs p-tp-20"> <strong class="font-bold">Usuário</strong> </span>
                            <span class="text-muted text-xs block">Cargo</span>

                            <span class="text-muted text-xs block p-tp-10">Filial</span>
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    V
                </div>
            </li>

            <li ng-class="{active: $state.includes('locacao')}">
                <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Locação</span> <span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('locacao')}">
                    <li ui-sref-active="active"><a
                            ui-sref="locacao.novalocacao.cliente">{{ 'Nova Locacao' | translate }}</a></li>
                    <li ui-sref-active="active"><a
                            ui-sref="locacao.consultarlocacao">{{ 'Consultar Locação' | translate }}</a></li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('cliente')}">
                <a href="#"><i class="fa fa-user"></i> <span class="nav-label">Cliente</span> <span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('cliente')}">
                    <li ui-sref-active="active"><a
                            ui-sref="cliente.cadastrocliente">{{ 'Cadastrar Cliente' | translate }}</a>
                    </li>
                    <li ui-sref-active="active"><a ui-sref="cliente.buscacliente">{{ 'Buscar Cliente' | translate }}</a>
                    </li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('proprietario')}">
                <a href="#"><i class="fa fa-user"></i> <span class="nav-label">Proprietario</span> <span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('proprietario')}">
                    <li ui-sref-active="active"><a
                            ui-sref="proprietario.cadastroproprietario">{{ 'Cadastrar Proprietário' | translate }}</a>
                    </li>
                    <li ui-sref-active="active"><a ui-sref="proprietario.buscaproprietario">{{ 'Buscar Proprietário' | translate }}</a>
                    </li>
                </ul>
            </li>

            <li ng-class="{active: $state.includes('imovel')}">
                <a href="#"><i class="fa fa-user"></i> <span class="nav-label">Imóvel</span> <span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('imovel')}">
                    <li ui-sref-active="active"><a
                            ui-sref="imovel.cadastroimovel">{{ 'Cadastrar Imóvel' | translate }}</a>
                    </li>
                    <li ui-sref-active="active"><a ui-sref="imovel.buscaimovel">{{ 'Buscar Imóvel' | translate }}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>